<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">
    <beans profile="hello">
        <bean id="hello" class="com.linksinnovation.spring.service.HelloMessageService" />
    </beans>
    <beans profile="spring">
        <bean id="spring" class="com.linksinnovation.spring.service.SpringMessageService" />
    </beans>
    
    <beans>
        <bean class="com.linksinnovation.spring.service.BeanService">
            <constructor-arg value="Hello," />
            <property name="name" value="Beans Service!!!" />
            <property name="lists">
                <list>
                    <value>value1</value>
                    <value>value2</value>
                </list>
            </property>
        </bean>
        
        <bean class="com.linksinnovation.spring.service.BeanServiceFactory" factory-method="getInstance">
            <constructor-arg name="message" value="Create from Factory" />
        </bean>
        
        
        <bean class="com.linksinnovation.spring.service.BeanCaller1">
            <property name="simpleMessageBean" ref="simpleMessageBean" />
        </bean>
        <bean class="com.linksinnovation.spring.service.BeanCaller2">
            <property name="simpleMessageBean" ref="simpleMessageBean" />
        </bean>
        <bean id="simpleMessageBean" class="com.linksinnovation.spring.service.SimpleMessageBean" scope="prototype" />
        
        
        <bean id="injectBean"  class="com.linksinnovation.spring.service.InjectBean" />
        <bean class="com.linksinnovation.spring.service.ConstructorBean">
            <constructor-arg ref="injectBean" />
        </bean> 
        <bean class="com.linksinnovation.spring.service.SetterBean">
            <property name="injectBean" ref="injectBean" />
        </bean>
        
        <import resource="classpath:otherConfig.xml" />
        
        
       
    </beans>

</beans>
